  <span class="iconSize news-icon" data-icon="&#xe003;"></span>
  <h1><%= main_post.video_title %></h1>
  <figure>
    <%= main_post.video_url %>
  </figure>
  <p class="mainStoryParagraph"><%= main_post.video_description %></p>
  <div class="post-author news">
    <address>Shared by <%= main_post.user.username %>. 15th Jan, 2013.</address>
  </div>

