<div class="mainStory">
  <article class="group">
    <% if @main_post.any? %>
      <%= render :partial => 'main_video_post', :locals => {:main_post => @main_post.first} %>
    <% end %>
  </article>
  <div class="mainStory-galleryContainer">
    <div class="mainStory-gallery">
      <%= render @video_posts %>
    </div>
    <%= will_paginate(@video_posts, :renderer => 'PaginationListLinkRenderer') %>
  </div>
</div>


