<div class="mainStory">
  <%= main_video_post %>
  <div class="mainStory-galleryContainer">
    <div class="mainStory-gallery">
      <%= render @video_posts %>
    </div>
    <%= will_paginate(@video_posts, :renderer => 'PaginationListLinkRenderer') %>
  </div>
</div>
</div>

