<nav class="leftSidebarContainer">
  <ul>
    <li><a class="menuIconBlack" href="/index.html">Home</a></li>
    <li><a class="menuIconBlack" href="/peculiar.html">Peculiar</a></li>
    <li><a class="menuIconBlack" href="/news.html">News</a></li>
    <li><a class="menuIconBlack" href="/funny.html">Funny</a></li>
    <li><a class="menuIconBlack" href="/music.html">Music</a></li>
  </ul>
</nav>