<div class="mainStory">
  <article class="group">
      </article>
  <div class="mainStory-galleryContainer">
    <div class="mainStory-gallery">
      <%= render :partial => 'gallery_pagination', :locals => {:video_categories => @video_categories} %>
    </div>
   
  </div>
</div>
