

.grid-container {
	width: 100%;
	padding: 0 $ContainerPadding 0 $ContainerPadding+1em;
}

// 3 COLUMNS //

.grid-1-3 {
	width: 16%;
	float: left;
}

.grid-2-3 {
	width: 64%;
	float: left;
}

.grid-3-3 {
	width: 20%;
	float: left;
}


// 2 COLUMNS //

.grid-1-2 {
	width: 17%;
	float: left;
}

.grid-2-2 {
	width: 83%;
	float: left;
}